<div class="switch-field" afterRender="change('private')">
    <div class="switch">
        <input type="radio" name="address_type" id="radio-home" value="home" checked="checked" data-bind="click: click">
        <label for="radio-home" data-bind="i18n: 'Home'">Home</label>
    </div>
    <div class="switch">
        <input type="radio" name="address_type" id="radio-work" value="work" data-bind="click: click">
        <label for="radio-work" data-bind="i18n: 'Work'">Work</label>
    </div>
    <div class="switch">
        <input type="radio" name="address_type" id="radio-neighbour" value="neighbour" data-bind="click: click">
        <label for="radio-neighbour" data-bind="i18n: 'Neighbour'">Neighbour</label>
    </div>
</div>